@import url("https://fonts.googleapis.com/css?family=UnifrakturCook:700");
@keyframes slideDown {
  0% {
    height: 0px;
    max-height: 0px;
    min-height: 0px;
    color: transparent; }
  100% {
    height: 250px;
    max-height: 250px;
    min-height: 0px;
    color: #FFFFFF; } }
* {
  box-sizing: border-box; }

p, h1, h3 {
  margin: 0px; }

body {
  width: 100%;
  max-width: 100%;
  min-width: 100%; }
  body, body .container {
    margin: 0px !important;
    padding: 0px !important;
    max-width: initial !important;
    font-family: "Open Sans", sans-serif;
    background-color: #181818; }

.App {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1250px; }

.home {
  width: 100%;
  max-width: 100%;
  min-width: 100%; }
  .home .home-sections {
    padding: 0px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    @media screen and (max-width: 900px) {
      .home .home-sections {
        padding: 35px 15px 0px; } }

.header {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 80vh;
  min-height: 300px;
  max-height: 750px;
  background-color: #181818;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "UnifrakturCook", cursive;
  font-size: 35px; }
  .header .header-logo {
    max-width: 100%;
    max-width: 100%;
    height: calc(100% - 111px);
    max-height: calc(100% - 111px); }
  @media screen and (max-width: 500px) {
    .header {
      font-size: 18px; } }

.day-section {
  padding: 90px 10px;
  flex-basis: 33.33%;
  width: 33.33%;
  max-width: 33.33%;
  min-width: 33.33%;
  color: #FFFFFF; }
  .day-section .day-section-title {
    text-align: center;
    margin: 0px;
    font-size: 24px; }
  .day-section .day-section-subtitle {
    padding-bottom: 15px;
    text-align: center;
    margin: 0px;
    font-size: 22px; }
  .day-section .day-section-button {
    padding: 6px 12px;
    margin-left: auto;
    margin-right: auto;
    width: 95px;
    max-width: 95px;
    min-width: 95px;
    text-align: center;
    display: block;
    border: 1px solid #181818;
    color: #FFFFFF;
    transition: background-color 120ms ease-in-out; }
    .day-section .day-section-button:hover {
      cursor: pointer; }
  .day-section .day-section-schedulicity {
    display: block;
    width: 100%;
    text-align: center; }
    .day-section .day-section-schedulicity img {
      width: 190px; }
      .day-section .day-section-schedulicity img:hover {
        opacity: 0.9; }
  .day-section.open-for-booking {
    background-color: #181818;
    color: #FFFFFF; }
    .day-section.open-for-booking .day-section-button {
      border-color: #FFFFFF;
      color: #FFFFFF; }
      .day-section.open-for-booking .day-section-button:hover {
        background-color: #FFFFFF;
        color: #181818; }
  .day-section.cannot-book .day-section-button {
    border: none;
    width: 145px;
    max-width: 145px;
    min-width: 145px; }
    .day-section.cannot-book .day-section-button:hover {
      cursor: default; }
  @media screen and (max-width: 900px) {
    .day-section {
      padding: 35px 10px;
      flex-basis: 100%;
      width: 100%;
      max-width: 100%;
      min-width: 100%; } }
  @media screen and (max-width: 345px) {
    .day-section .day-section-title {
      font-size: 18px; }
    .day-section .day-section-subtitle {
      font-size: 16px; } }

.home-booking-section {
  padding: 25px 10px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 250px;
  color: #FFFFFF;
  background-color: #181818;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .home-booking-section .booking-section-header {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-size: 30px; }
  .home-booking-section .booking-options {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    .home-booking-section .booking-options .booking-options-title {
      padding: 5px 5px 15px;
      margin: 0px;
      flex-basis: 100%;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      text-align: center;
      font-size: 20px; }
  .home-booking-section .booking-button {
    padding: 6px 12px;
    margin: 0px 10px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF; }
    .home-booking-section .booking-button .make-bold {
      padding-left: 4px;
      font-weight: bold; }
    .home-booking-section .booking-button.is-selected {
      background-color: #FFFFFF;
      color: #181818; }
    .home-booking-section .booking-button:hover {
      cursor: pointer; }
  .home-booking-section .booking-inputs-container {
    padding: 30px 0px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .home-booking-section .booking-inputs-container .booking-input-box {
      flex-basis: 50%;
      width: 50%;
      min-width: 50%;
      max-width: 50%; }
      .home-booking-section .booking-inputs-container .booking-input-box .booking-input-label {
        margin: 0px; }
      .home-booking-section .booking-inputs-container .booking-input-box .booking-input {
        padding: 8px;
        margin: 0px 10px 10px;
        font-size: 18px;
        border: 1px solid #FFFFFF; }
        .home-booking-section .booking-inputs-container .booking-input-box .booking-input:focus, .home-booking-section .booking-inputs-container .booking-input-box .booking-input:active {
          outline: none;
          border-color: #646464; }
    @media screen and (max-width: 768px) {
      .home-booking-section .booking-inputs-container {
        padding: 30px 5px 10px; }
        .home-booking-section .booking-inputs-container .booking-input-box {
          flex-basis: 100%;
          width: 100%;
          min-width: 100%;
          max-width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .home-booking-section .booking-inputs-container .booking-input-box .booking-input-label {
            font-size: 18px;
            width: 100%;
            max-width: 450px; }
          .home-booking-section .booking-inputs-container .booking-input-box .booking-input {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            max-width: 450px; } }
  .home-booking-section .booking-buttons {
    padding: 50px 0px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .home-booking-section .booking-buttons .booking-buttons-save, .home-booking-section .booking-buttons .booking-buttons-cancel {
      font-size: 20px;
      padding: 6px 12px;
      margin-left: 10px;
      margin-right: 10px;
      width: 95px;
      max-width: 95px;
      min-width: 95px;
      text-align: center;
      display: block;
      border: 2px solid #FFFFFF;
      color: #FFFFFF;
      transition: background-color 120ms ease-in-out; }
      .home-booking-section .booking-buttons .booking-buttons-save:hover, .home-booking-section .booking-buttons .booking-buttons-cancel:hover {
        cursor: pointer;
        background-color: #FFFFFF;
        color: #181818; }
    .home-booking-section .booking-buttons .booking-buttons-save {
      background-color: #FFFFFF;
      color: #181818; }
      .home-booking-section .booking-buttons .booking-buttons-save.disabled {
        opacity: 0.6; }
        .home-booking-section .booking-buttons .booking-buttons-save.disabled:hover {
          cursor: not-allowed; }

.booking-barber-schedule {
  padding: 25px 10px;
  width: 100%;
  max-width: 100%; }
  .booking-barber-schedule .barber-schedule-appointments {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .booking-barber-schedule .barber-schedule-appointments .barber-schedule-appointment {
      padding: 6px 12px;
      margin: 0px 10px 20px;
      border: 2px solid #FFFFFF;
      border-radius: 4px; }
      .booking-barber-schedule .barber-schedule-appointments .barber-schedule-appointment.chosen-appointment {
        background-color: #FFFFFF;
        color: #181818; }
      .booking-barber-schedule .barber-schedule-appointments .barber-schedule-appointment:hover {
        cursor: pointer; }

.bio {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #FFFFFF; }
  .bio .bio-about {
    padding: 10px 15px;
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;
    min-width: 50%; }
    .bio .bio-about .bio-about-text {
      font-size: 20px; }
    .bio .bio-about .bio-about-image {
      max-height: 100%;
      max-width: 100%; }
  .bio .bio-info {
    padding: 10px 15px;
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;
    min-width: 50%; }
    .bio .bio-info .bio-maps-iframe {
      width: 100%;
      height: 400px; }
    .bio .bio-info .bio-info-text {
      color: #FFFFFF; }
      .bio .bio-info .bio-info-text a {
        color: inherit;
        text-decoration: none; }
        .bio .bio-info .bio-info-text a:hover {
          text-decoration: underline; }
  .bio .bio-title {
    font-size: 30px; }
  @media screen and (max-width: 900px) {
    .bio .bio-about, .bio .bio-info {
      flex-basis: 100%;
      width: 100%;
      max-width: 100%;
      min-width: 100%; }
    .bio .bio-about {
      padding-bottom: 35px; }
      .bio .bio-about .bio-about-image {
        display: none; } }

/*# sourceMappingURL=style.css.map */
